td { font-family: serif; font-size: 15pt }
p { font-family: serif; font-size: 10pt }
h2 { font-family: sans-serif; font-size: 20pt ; font-weight: bold }
code { font-family: courier; font-size: 15pt }
